[2016-06-24 06:37] sungeun-kim opened #1 "Help for WDRBD use"
HI:

At 2016-06-23 16:15:06, "Kim, Sung-eun" sekim@mantech.co.kr wrote:
hi,

thanks for your concern.

plz, read inline comment for your questions.

설명: logo
Technical Research Center / DRBD Team
Principal Research Engineer
Sung-eun Kim               sekim@mantech.co.kr
202 Fl, Seoulforest Kolon digital Tower, 308-4, Seongsudong 2ga, Seongdong-gu, Seoul, Korea
Tel : 02-2136-6913 / Fax : 02-575-485

[2016-06-24 06:45] sungeun-kim commented on #1
HI:
Thanks for your help.
I use drbdcon and this time, the time of sync process is much better!

But question 2 is still when win8-2 reboot:
in win8-2
r0 role: Secondary
disk:Outdated
win8-1 connection: StandAlone

Both nodes' firewall are totally OFF.

Config file and log file are in attachment "WDRBD_HELP.rar"

In win8-2's drbdlog, I see :
"The peer's disk size is too small! "

win8-1's e driver

[2016-06-24 06:52] sungeun-kim commented on #1
Yes, you are right. currently, WDRBD have this issue.
if two node's disk size is different, connection-fail occur.
we recommend that disk size is same.

another point is :
about your log(RegOpenKeyExW failed), you maybe run command line by user privilege.
you should run command-line by admin privilege.

thank you

[2016-06-30 07:46] liangxin1300 opened #2 "WDRBD1_1_2 support large disk?"
hi:
       Does WDRBD1_1_2 support large disk (size > 1T)?

[2016-06-30 07:54] sungeun-kim commented on #1
this issue will be resolved at WDRBD 1.2
thank you

[2016-06-30 07:57] sungeun-kim commented on #2
this is same with linux drbd.
https://blogs.linbit.com/p/169/maximum-volume-size/

[2016-06-30 08:07] liangxin1300 opened #3 "ERROR when drbdadm up r0"
hi:
      I use driver E (volume number is 4;os: windows server 2012 x64) to sync data this time.
      my r0.res is:
[r0.res.txt](https://github.com/mantechnology/wdrbd/files/340958/r0.res.txt)
[global_common.conf.txt](https://github.com/mantechnology/wdrbd/files/340960/global_common.conf.txt)
my drbdlog is:
[drbdService.log.txt](https://github.com/mantechnology/wdrbd/files/340963/drbdService.log

[2016-06-30 08:12] liangxin1300 commented on #2
thanks!

[2016-06-30 08:20] sungeun-kim commented on #3
first, E: volume's minor value is 2.(c: is 0 , d: is 1)
second, according to your drbdlog, you run command-line by user privilege.
you should run command-line by admin privilege.

thanks.

[2016-06-30 08:51] liangxin1300 commented on #3
I use diskpart to get driver minor
![2](https://cloud.githubusercontent.com/assets/1650862/16482522/a543c4f8-3ee2-11e6-8750-11fe5479529a.jpg)

Is this correct?

[2016-06-30 08:55] sungeun-kim commented on #3
wdrbd's minor value in configuration is a fixed value for WDRBD internal config. ( zero index base)
this is not related to diskpart.

[2016-06-30 09:02] liangxin1300 commented on #3
But when I use disk "I" and minor 5 (get from diskpart in my os)
WDRBD works fine, no warning or error happen

[2016-06-30 09:06] sungeun-kim commented on #3
that is an accidental result.(maybe issue)
I hope that use a our guide.
thanks.

[2016-06-30 09:15] liangxin1300 commented on #3
I use E and minor 2 this time, got the same error
I use D and minor 1, no error happen
I use I and minor 6, no error happen

[2016-06-30 09:28] sungeun-kim commented on #3
ok,

first, I want a more log information.

[code]

reproduce a your situation, and get drbdlog.

we will check that.

thank you.

[2016-06-30 09:37] liangxin1300 commented on #3
This time(use E and minor 2), I restart the drbdService
and then, drbdcon /minlog_lv svc 6
then, drbdadm create-md r0
and last, drbdadm up r0, got the same error
[drbdService.log1.txt](https://github.com/mantechnology/wdrbd/files/341138/drbdService.log1.txt)

[2016-06-30 09:38] liangxin1300 commented on #3
Thanks a lot!

[2016-06-30 09:43] liangxin1300 opened #4 "How to recover the environment which before use wdrbd?"
hi:
     How to recover the environment  which before use wdrbd?
     For example, I use driver D for wdrbd, and driver D become RAW disk.
     How to recover driver D when not use wdrbd?

[code]

[2016-06-30 10:23] sungeun-kim commented on #4
we will fix this issue at next patch (WDRBD 1.2)
at current version, reboot required.

I appreciate your concern.

thank you

[2016-07-04 01:18] kmpak commented on #3
Hello @liangxin1300

Is there still that problem? Only e: (minor 2).
Could you send me more information just a case, plz?

All files in c:\ry-ha\drbd\etc\drbd.d include no resource files

And need a new tested log.
1. restart the drbdService
2. drbdcon /minlog_lv svc 7
3. drbdcon /minlog_lv sys 7
4. drbdcon /minlog_lv dbg 7
5. drbdadm create-md r0
6. drbdadm up r0
7. if a error is occurred, error

[2016-07-04 01:43] kmpak commented on #4
@liangxin1300
I think, it works right, if in running wdrbd.
Because wdrbd should protect the data from the various cases basically.

But you want to access D:, I recommend below step.
1. Delete or rename that resource file include d:, so that res's file will be disabled.
2. And reboot

Thank you

[2016-07-04 02:40] liangxin1300 commented on #3
hi @kmpak
        Thank you for your attention.
        But I can not reproduce this situation when I reset my virtualbox snapshot.
        Thank you

[2016-07-04 04:58] kmpak commented on #4
@liangxin1300
Is answer enough?

I also concern for your need, and I want to help you.

[2016-07-04 09:01] liangxin1300 commented on #4
@kmpak
The answer is enough well
Thanks a lot!

[2016-07-07 01:17] liangxin1300 opened #5 "Is this config file correct if I want to use duplex mirror？"
HI dear all:
    What should I write the config file if I want to use duplex mirror?
    For example:
    node1: D   ---->  node2: D
    node1: E   <----  node2: E

[r0.res.txt](https://github.com/mantechnology/wdrbd/files/351199/r0.res.txt)
[r1.res.txt](https://github.com/mantechnology/wdrbd/files/351200/r1.res.txt)

[code]

[2016-07-07 08:53] sungeun-kim commented on #5
Hi, liangxin
basically, your config is right. (same IP and different ports)
But one thing is , node2(win8-b)'s meta volume letter may be 'n' in r0 config.
currently, your config is 'm'

thanks.

[2016-07-07 11:01] liangxin1300 commented on #5
Thank you

[2016-07-08 10:27] liangxin1300 opened #6 "Both nodes' status are Outdated after recover from splitBrain"
hi all:
     1: both nodes' status are UpToDate;
     2: shutdown node2, then primary on node1 and  write data on node1;
     3: shutdown node1, then start node2, then primary on node2 and write some data on node2;
     4: start node1, and this time, both nodes' status are "StandAlone";
     5: make sure both nodes' role is "Secondary";
     6: on node1, run command "drbdadm connect --discard-my-d

[2016-07-09 01:44] reinhardvz commented on #6
this Outdated issue is maybe known issue. (after resync, disk go to outdated)

this is drbd9's original bug. we will fix it at next version.

at this situation, you can make one node to UptoDate by "drbdadm primary --force <res>" .
until next patch, I hope that temporarily this way is used.

thank you.

[2016-07-11 05:50] liangxin1300 opened #7 "Changelog?"
Hi all:
       I see 1.1.3 is released. Does have any ChangLog or ReleaseNotes?

[code]

[2016-07-11 07:51] sungeun-kim commented on #7
Hi, liangxin

1.1.3 is a temporary version for internal test.

It's not stable yet. don't use it.

thank you for your concern.

[2016-07-19 10:35] sungeun-kim commented on #7
we just release 1.1.8

https://github.com/mantechnology/wdrbd/wiki/Release-Note

thanks.

[2016-07-19 14:19] sungeun-kim commented on #6
We believe that this issue is fixed in 1.1.8
you can check this.
thanks.

[2016-07-19 14:21] sungeun-kim commented on #1
in 1.1.8, this issue has resolved.

[2016-07-19 14:21] #1 closed, assigned to kmpak

[2016-07-19 14:22] #2 closed, assigned to nobody

[2016-07-19 14:22] #3 closed, assigned to kmpak

[2016-07-19 14:22] #4 closed, assigned to kmpak

[2016-07-19 14:23] #5 closed, assigned to sungeun-kim

[2016-07-19 14:23] #6 closed, assigned to nobody

[2016-07-19 14:23] #7 closed, assigned to nobody

[2016-08-12 01:42] liangxin1300 opened #8 "Fast initially sync?"
Hi all:
       Currently, how to make wdrbd sync fast at first time?
       Thanks!

[2016-08-12 02:08] sungeun-kim commented on #8
Hi,
we changed the wdrbd's default option - c-plan-ahead is zero.
and then you should set resync-rate. (100M is good enough for 1G network)

we recommend that install 1.1.10 from downloads page.

thanks.

[2016-08-12 04:53] liangxin1300 commented on #8
@sungeun-kim
Do you mean I need add "resync-rate 100M;" in config file;
and then add option "c-plan-ahead" when run the init sync command?

[2016-08-12 05:30] sungeun-kim commented on #8
correct. you need to add "resync-rate 100M;"

and don't need to add c-plan-ahead option. (already be set by default option.)

[2016-08-23 02:25] liangxin1300 opened #9 "Weird stuation"
HI dear team members:
      I run "drbdadm create-md r0"(os windows server 2012), and got error like this:
                Can not exec drbdmeta
                Failed: Permission denied
                 Can not exec drbdmeta
                Failed: Permission denied
                Command 'drbdmeta 1 v09 m c:/r0_meta.vhd create-md 1' terminated with exit code 20

Here is the LOG and CONFIG file

[2016-08-23 04:52] sungeun-kim commented on #9
Hi liangxin

actually I don't understand what is the problem.(it may be permission issue)

**runas /user:administrator cmd
drbdadm create-md r0**

If command-line get admin-privilege, drbdadm will not fail in normal situation.
it is weird, as you said.
I think you may don't get admin-privil. in your Environment.

ps) we recommend that use wdrbd 1.1.10 (patched secondary memory leak issue)

thank y

[2016-08-23 05:16] #8 closed, assigned to nobody

[2016-08-25 01:44] liangxin1300 opened #10 "Meta disk IO error after reconfig."
Hi:
    After create-md, I got diskless status.
    Log tell me IO error happend. I change the mirror disk(d -> e)and restart, but IO error always

[code]

[drbdService(1).log.txt](https://github.com/mantechnology/wdrbd/files/436004/drbdService.1.log.txt)
[r0(1).res.txt](https://github.com/mantechnology/wdrbd/files/436005/r0.1.res.txt)

drbd version is 1.10

os is win server 2008 x64
partition d a

[2016-08-25 05:21] sungeun-kim commented on #10
hi,

first of all, you need to re-install a latest WDRBD version 1.1.11.

you can download  https://mantech.jira.com/wiki/display/WDRBDV9/Downloads

re-install is required, and reboot, and re-config a resource.

C:\Users\sekim>drbdcon /s
WDRBD:1.1.11 GIT-hash: 5784d04 build by Administrator@WDRBDBLD, Tue Aug 23 08:35:55 2016
LDRBD: 9.0.3-1 (api:2/proto:86-111)

 tcp

on a latest version, If a same

[2016-08-25 08:39] liangxin1300 opened #11 "system hang on when uninstall 1.1.11"
Hi:
     I'v installed wdrbd1.1.11; But when I uninstall it and reboot, system just hang on in "shutdown"
     please help

[code]

[2016-08-25 08:59] liangxin1300 commented on #10
I'v tried 1.1.11, but one of my nodes still have IO error
This is the log
Please help
(can't upload the log file; so I just copy it)

00000001 08/25/2016 16:00:47.340 [initRegistry] WDRBD_INFO<6>[0xFFFFFA8018B46B50] registry_path[\Registry\Machine\System\CurrentControlSet\Services\drbd]
bypass_level=0, read_filter=0, use_volume_lock=1, netlink_tcp_port=5678, daemon_tcp_port=5679, ver=va.9
00000002

[2016-08-26 00:36] sungeun-kim commented on #11
Hi,

Sorry, hang is not a normal situation.

we need a Kernel Memory Dump for analyzing it.

Can you save a Kernel Memory Dump, and Send it to us?

[2016-08-26 01:44] liangxin1300 commented on #11
how to save kernel memory dump?

[2016-08-26 01:50] sungeun-kim commented on #11
you can save a kernel memory dump by forcing to crash a machine.

a bang utility can be possible to do that.

http://www.osronline.com/article.cfm?article=153

thanks.

[2016-08-29 01:32] kmpak commented on #10
Hi

We need to check whether creating the vhd-meta successfully, or not.

Check the message in creating md, and then tell me, like below sample

[code]

[2016-08-29 04:23] sungeun-kim commented on #11
to liangxin

we verified hang while shutdown from internal test.
It will be patched WDRBD 1.2 sooner or later.

thank you for your concern.

[2016-08-29 06:33] liangxin1300 commented on #10
create-md command just work
"drbdadm up r0" have issue:
 1: Failure: (118) IO error(s) occurred during initial access to meta-data
Command 'drbdsetup attach 1 d m c:/r0_meta.vhd' terminated with exit code 10

[2016-08-29 07:51] kmpak commented on #10
OK. I think vhd-meta file's lesser than calculated volume's size.

I'll suggest below
1. Open the Disk management(diskmgmt.msc)
2. Select the M:
3. Detach VHD by context menu
4. Remove the c:\r0_meta.vhd
5. Recreate md and up r0

Perhaps, have you ever extend the volume's size after creating the vhd-md?

Plz. check the my opinion.

[2016-08-29 10:14] liangxin1300 commented on #10
@kmpak
How much size the vhd-meta file need?
For example, I want to mirror driver D, which size is 1000G, vhd-meta file is "c:/r0_meta.vhd"
How much size the c:/r0_meta.vhd file need in C driver? What is the ratio?

[2016-08-30 00:54] kmpak commented on #10
@liangxin1300
[Estimating DRBD meta data size (approximately)](http://www.drbd.org/en/doc/users-guide-90/ch-internals#s-meta-data-size) - it will be helpful to you.
wdrbd 差不多

But, you don't need to calculate that directly.
If you create the md first(not existed vhd file) then wdrbd would calculate the size properly.

Thanks your concern

[2016-08-30 02:59] liangxin1300 opened #12 "Does wdrbd support windows server 2003?"
hi:
 Does wdrbd support windows server 2003?

[2016-08-30 03:45] sungeun-kim commented on #12
Hi,

WDRBD support Win 7(2008 r2) or higher .

thanks.

[2016-08-30 06:19] liangxin1300 commented on #10
@kmpak
I've tried what you suggest:

Open the Disk management(diskmgmt.msc)
Select the M:
Detach VHD by context menu
Remove the c:\r0_meta.vhd(before this, I must stop drbdService and reboot system)
Recreate md and up r0

but things doesn't work for me, still IO error when drbdadm up r0
this is the log
[drbdService.log.txt](https://github.com/mantechnology/wdrbd/files/444131/drbdService.log.txt)

[2016-08-30 06:26] liangxin1300 commented on #10
Both of these two nodes(win2008 r2 x64) use driver D to mirror.
NodeA's D driver is 120G and NodeB's D driver is 600G.
Size in C disk are large enough for the meta disk file.
NodeA is just work
Why always IO error on NodeB?

[2016-08-30 06:39] kmpak commented on #10
Maybe Is different size both drive(d) ?

Could you send me your diskmgmt status capture?

[2016-08-30 07:08] liangxin1300 commented on #10
@kmpak
I don't know why I can't upload my captures.
So I send my diskmgmt status captures to wdrbd@noreply.github.com

Thanks!

[2016-08-30 07:09] liangxin1300 commented on #10
@kmpak
For now,  doesn't wdrbd supports different size both drive?

[2016-08-30 08:34] kmpak commented on #10
@liangxin1300
I think it was impossible to receive by that email address, so just give kmpak@mantech.co.kr

And, you're right. it's possible to connect different size, but I need to know your environment to solve this.

[2016-08-31 03:23] liangxin1300 commented on #10
hi @kmpak
I've send email to you, with captures.
Thanks

[2016-08-31 05:08] kmpak commented on #10
@liangxin1300
I could reproduce that error situation. Really, if size is 638GB, then occur same way.

There is some subtle gap between meta data size and vhd's size. I don't know how exactly the vhd's extra or meta size(not wdrbd's meta but vhd's meta) is, but I recognize the need to expand vhd's size

Thank you.
ASAP I will patch this bug next release

[2016-08-31 07:48] liangxin1300 commented on #10
@kmpak
So, what you said is, my driver D(638G) is too large that wdrbd can not handle it?
So, if I use a smaller size driver, everything will be OK?

[2016-08-31 08:03] kmpak commented on #10
No. You did the right thing.
It's just wdrbd's bug.

And there is no problem 638GB's size after next release.

[2016-08-31 08:04] liangxin1300 commented on #10
I mean for the current version 1.1.11 and 1.1.10, if I not use 638G, I use 600G or 500G or 400G, things will be OK?

[2016-08-31 08:17] kmpak commented on #10
Yes.  It 'll be ok

[2016-08-31 12:15] #12 closed, assigned to nobody

[2016-08-31 12:16] #9 closed, assigned to nobody

[2016-09-02 03:44] sungeun-kim commented on #11
to liangxin

we just release 1.2 patched this issue.

thanks again.

[2016-09-02 03:46] sungeun-kim commented on #10
to liangxin

we just release 1.2 patched this issue.

thank you for your helpful reporting.

[2016-09-02 03:48] #10 closed, assigned to kmpak

[2016-09-02 03:48] #11 closed, assigned to nobody

[2016-09-14 22:59] sunxingwen4567 opened #13 "No drbdadm ?"
No drbdadm can be builded from the downloaded WDRBD source code, why ?

[2016-09-20 16:04] sunxingwen4567 opened #14 "do DRBD and WDRBD work together?"
I mean that Linux DRBD works on one Node, while Windows DRBD works on another Node. Is it ok ? It seems that it is hard to configure r0.res file supported both by DRBD and WDRBD.

[2016-09-20 23:19] sungeun-kim commented on #13
Hi,
drbd-utils project include drbdadm utils build.
you can check that
thanks.

[2016-09-20 23:35] sungeun-kim commented on #14
Hi,
WDRBD does not support to configure with Linux DRBD, Because Windows storage architecture is different with Linux's. for examples, disk device, volume mount mechanism, letter management.. etc.
thanks.

[2016-09-20 23:51] sunxingwen4567 commented on #13
Thanks for your answer.
I have already noticed that,  the directory of wdrbd-WDRBD_1.1.10_01\drbd-utils\user\v9 contains some files, such as "drbdadm_main.c". However, I cannot build these drbdadm files successfully, under the VS2013. I think that these files in the \v9 directory, are still used for Linux,  NOT for Windows.
 Can you provide the project of drbdadm, for Windows ?

[2016-09-21 00:34] sungeun-kim commented on #13
drbd-utils (drbdadm, drbdsetup) can be built with cygwin 1.7.30.
Do you configure Cygwin build Environment? It is important to match with cygwin version.

[2016-09-21 03:55] sunxingwen4567 commented on #13
Thanks again.
I will try it with cygwin 1.7.30.

[2016-09-21 03:55] #13 closed, assigned to nobody

[2016-09-21 04:10] sunxingwen4567 commented on #14
Well, I feel that you misunderstand me.
Suppose: DRBD runs on Linux CentOs 6.5 of Node1 PC, while WDRBD runs on Windows 7 of Node 2 PC. In  this case, I want to know, data mirror also works between Node1 and Node2, via DRBD and WDRBD.  Is it OK ?  Thanks

[2016-09-21 05:36] sungeun-kim commented on #14
ok, I got it.

basically, your idea is correct.

But, I doubt that config. is meaningful. because two OS(Win/Linux) use a different file system.

it means that role switch over is prohibited in that configurations. generally, linux does not use NTFS/REFS and Windows does not use Ext.

At that configuration, I think that only backup or RAW filesystem Usage will be meaningful.

and, WDRBD cannot ope

[2016-09-21 07:16] sunxingwen4567 commented on #14
Thank you very much.
According to the resource r0 you provided, the command of "drbdadm create-md r0" has executed successfully on both Linux DRBD, and Windows WDRBD.

[2016-09-26 03:55] sunxingwen4567 commented on #14
WDRBD cannot operate with Linux DRBD ? as you said above.

  I try my best to do as follows. But it is always NOT "Connected", but "Connecting".
 (By the way, it is easily to connect Windows and Windows WDRBD, or Linux and Linux DRBD, successfully)

/////////////////////////////// Linux DRBD:
resource rlw {
  device    /dev/drbd0;
    disk      /dev/sdb1;
   meta-disk internal;

[code]

   on SXW-

[2016-09-26 04:08] sungeun-kim commented on #14
as you said,

It is problem for WDRBD to connect to LDRBD as connecting phase. maybe It is protocol unmatch problem for initial connecting phase with each other.

We will consider to this issue at next version.

Thanks for your concern.

[2016-09-26 04:47] sunxingwen4567 commented on #14
One piece of suggestion:

For the control device object which has been created by "IoCreateDevice" in the WDRBD driver code,  its DeviceExtensionSize parameter should be 0, I think. I have written many Windows Filter driver programs. Generally speaking, DeviceExtensionSize of CDO has no extension for most of filter driver, for the sake of security.

[2016-09-26 05:23] sungeun-kim commented on #14
thank you for your advice.

But, I don't agree with your opinion(DeviceExtensionSize of CDO has no extension for most of filter driver).
we need to allocate CDO's device extension area. we should use this.
Is it related to CDO's extension size for the security aspect ?

if some guy can touch the kernel driver's area(ex, CDO's extension), that system was already hacked.
we cannot cover that situati

[2016-09-26 06:10] sunxingwen4567 commented on #14
OK

[2016-09-26 06:10] #14 closed, assigned to nobody

[2016-09-28 08:13] liangxin1300 opened #15 "Can not exec drbdsetup"
Hi:

wdrbd version I use is 1.2, os is win2008 x64
When I exec "drbdadm status", I got this:
![qq 20160928161003](https://cloud.githubusercontent.com/assets/1650862/18905578/6af8c334-8596-11e6-8639-be6b16a4c90f.png)
And this is the log
[drbdService.log.txt](https://github.com/mantechnology/wdrbd/files/497422/drbdService.log.txt)
Please help!
Thanks

[2016-09-28 08:49] sungeun-kim commented on #15
Hi, liangxin

according to next log, maybe you config M volume, but volume is offline(error code 0x80000010).
you can check that.
and I hope that you provide us with your config file.
thanks.

00000025 09/28/2016 15:54:42.296 [NetlinkWorkThread] WDRBD_INFO<6>[0xFFFFFA800D9A4040] done
00000026 09/28/2016 15:54:44.839 [mvolAddDevice] WDRBD_INFO<6>[0xFFFFFA800D9A5B60] VolumeExt(0xFFFFFA801E8F6190) De

[2016-10-11 02:03] sunxingwen4567 opened #16 "cygwin 2.6.0 ok?"
It is no problem that I run "drbdadm up r0" with the primitive drbdadm.exe file in the setup package.

However, when I replace drbdadm.exe file with the new-built one, and run "drbdadm up r0" again, it failed.

open(\.\k:) failed: Is a directory
Command 'drbdmeta 2 v09 k c:/r0_meta.vhd apply-al' terminated with exit code 20

Because I cannot find Cygwin1.7.30 on Internet, I use the most recent ver

[2016-10-11 06:18] sunxingwen4567 commented on #16
or, do you provide Cygwin1.7.30 to download ?

[2016-10-12 05:19] sungeun-kim commented on #16
Hi

Cygwin2.6.0 is not suitable to build WDRBD. ( Cygwin1.7.3 is required)

and we cannot provide Cygwin link. we are not Cygwin's distributor. I think that we don't have a right.

Sorry about that.

as your question, we will provide compatiability with WDRBD (Cygwin's latest version) in next version.

thanks.

[2016-10-12 05:48] #16 closed, assigned to nobody

[2016-10-18 03:38] sunxingwen4567 opened #17 "Does WDRBD 1.32 support the connection of WDRBD and Linux DRBD？"
Does WDRBD 1.32 support the connection of WDRBD and Linux DRBD？

Thanks

[2016-10-21 01:18] sungeun-kim commented on #15
Hi, liangxin
we fix this issue.(WDRBD 1.3.2)

thanks.

[2016-10-21 01:23] sungeun-kim commented on #17
Sorry, Not yet.

[2016-11-08 12:09] #15 closed, assigned to nobody

[2016-11-10 20:31] mailinglists35 commented on #17
@sungeun-kim if I wanted to be among the first to know when it will work with linux, subscribing to this issue should be enough, or will I have to sign-up somewhere else? (watch the master commits? some other easy way to get notified about this?)

thank you

[2016-11-11 01:03] sungeun-kim commented on #17
Hi
maybe next month is starting point to solve this issue.
we are very busy to do something else.

first, I register this issue to github projects page. you will see to solve this.
https://github.com/mantechnology/wdrbd/projects/1

Could I ask a question ? why do you want to be this function?

thanks.

[2016-11-11 01:39] sunxingwen4567 commented on #17
Hi
WDRBD and LDRBD may connect with each other successfully. I can do this via changing 2 pieces of code of WDRBD one week ago. And, WDRBD and LDRBD may copy the volume data to each other, however, the action of copy may corrupt the volume, and make the volume unable to be open again.

The reason for this function is that: WINDOWS may serve as a Customer, while Linux serves as a Server.  It is req

[2016-11-11 02:05] sungeun-kim commented on #17
which filesystem do you use on linux side and Windows side? or raw filesystem?

[2016-11-14 10:14] sunxingwen4567 commented on #17
NTFS is used on Windows 7, while the default filesystem(mkfs.ext4 /dev/drbd0), is used on CentOS Linux.

Fortunately, I found that now, executing the command of "drbdadm primary --force r0" on LDRBD on CentOS, may make it successful to recover(copy) the data from /dev/drbd0 on CentOS back to F partition on  Windows 7. The data on /dev/drbd0 on CentOS are originally copied from F partition on Windo

[2016-11-14 10:25] sunxingwen4567 commented on #17
Another question:

DW-1142: don't start 'invalidate' if peer is not primary

Why ?

The function of "invalidate if both local Windows and peer Linux are secondary" is exactly what I want at present.

[2016-11-14 11:46] sungeun-kim commented on #17
WDRBD's invalidate is required to be peer's primary. we intentionally modified it for a some reason. It's complicated to explain.

[2016-11-15 09:57] mailinglists35 commented on #17
@sungeun-kim I also want to do something similar:

windows ntfs on top of a drbd volume.
the drbd volume will be made of:
- one leg physical disk connected to windows machine
- one leg a zfs zvol in a linux machine

the linux will be secondary and the windows will be primary

then I will be able to live snapshot the linux zfs leg so I can use the zfs volume as an instant incremental image snapshot

[2016-11-15 10:00] mailinglists35 commented on #17
@sunxingwen4567 can you post your modifications of code? it would be awesome. thank you!

ps: if you want windows to not touch a disk, go to diskpart and set it offline. this way you can use it in third party apps (iscsi target, virtualization, wdrbd etc) and never attempt to be mounted locally.

[2016-12-06 06:17] sunxingwen4567 opened #18 "Why WDRBD cannot be installed on Win Server 2008 32Bit ?"
Why WDRBD cannot be installed on Win Server 2008 32Bit ?  I know that it can run on Win Server 2008 64Bit, Just because of WSK in the driver file of drbd.sys?

[2016-12-06 11:13] sungeun-kim commented on #18
WDRBD doesn't support Win Vista Kernel. (2008 Server is vista kernel)
As you said, Vista's WSK , WFP is a crap. we don't have time to debug a Vista kernel's bug.

[2017-01-01 09:56] #18 closed, assigned to nobody

[2017-01-01 20:15] mailinglists35 commented on #17
@sungeun-kim please don't close this. having primary node on windows and secondary node on linux is the whole reason of hoping for a working windows drbd.
it's very dissapointing if you will never allow this.
it's like the whole effort you put into porting this for windows is in vain. a very big big dissapointment!
:(

[2017-01-02 00:19] sungeun-kim commented on #17
@mailinglists35 you don't need to disappoint this (just closing issue).
we have a plan to support this issue.  will reopen this at that time.

[2017-01-02 04:08] sunxingwen4567 opened #19 "Why do not you make WDRBD run on Windows Server 2003, Windows XP, or even Windows2K ?"
It is required by the market that WDRBD may run on Windows Server 2003, Windows XP, or even Windows2K.

I have changed the code of drbd.sys to support it on the above OS, for example, WSK replaced with TDI. It is quite hard to do it successfully.

[2017-01-02 04:50] sungeun-kim commented on #19
It is required by the market that WDRBD may run on Windows Server 2003
// I don't think so. market is requiring Win2008 r2 or later version. we will concentrate on this.
if you want to support 2003 on WDRBD , as you said, need to replace WSK with TDI. it is a hard work.

[2017-01-02 12:12] mailinglists35 commented on #17
@sungeun-kim thank you for the clarification! looking forward for that moment!

[2017-01-14 04:48] #19 closed, assigned to nobody

[2017-02-23 05:54] WonSunMantech commented on #17
Add a setting to the resource that increase the ping-timeout for the latest drbd and the latest windows drbd interworking.
but actual operation will not be due to logic differences.

[2017-03-04 15:04] mailinglists35 commented on #17
whoa thank you!

[2017-05-16 09:29] cbelyaev opened #20 "WDRBD Installer English UI"
How to run installer with English UI?

Thanks

[2017-05-16 23:46] sungeun-kim commented on #20
The WDRBD package supports Korean and English installation.

https://github.com/mantechnology/wdrbd/releases

[2017-05-17 03:22] cbelyaev commented on #20
Installer does support English UI, but installer bootstrapper does not.
![img0](https://cloud.githubusercontent.com/assets/16681510/26137180/f38eab84-3ad9-11e7-993f-e33e0edd4f25.png)
![img1](https://cloud.githubusercontent.com/assets/16681510/26137183/f951521a-3ad9-11e7-91db-8b8448d799d9.png)

[2017-05-17 03:36] sungeun-kim commented on #20
ok,
We will check the problem and solve this as soon as possible.
Thank you for your reporting.

[2017-05-19 03:49] cbelyaev opened #21 "Binary packages for releases"
Hi

Is it possible to package releases in ZIP archives?

This will be very useful for integrating WRDBD into other products (or installers).

[2017-05-19 03:54] cbelyaev opened #22 "WRDBD service/engine protocol description"
Hi

Is there any description of protocols used to communicate with WRDBD service (tcp port 5679) and engine (tcp port 5679)?

[2017-05-19 04:04] sungeun-kim commented on #21
Hi,

At this time, we are not ready to deploy zip archives.
Future support will require technical review regarding driver installation, environment variables and etc...
You must use the current installation package.

thanks

[2017-05-19 04:15] cbelyaev commented on #21
Unfortunately current installation package has non-english bootstrap UI and JRE overhead.

[2017-05-19 04:17] sungeun-kim commented on #22
Hi,
Basically, that part is port of drbd's netlink developed by Linbit for Windows. There is no documented part and you need to understand the implementation protocol in the source code of drbd.

thanks.

[2017-05-19 04:19] cbelyaev commented on #22
Can you point specific source files?

[2017-05-19 04:30] sungeun-kim commented on #22
you need to review drbd_wingenl.h, netlink.c, and Please refer to the following link we analyzed.

https://github.com/mantechnology/wdrbd/wiki/Netlink

[2017-05-19 04:32] cbelyaev commented on #22
Thank you!

[2017-05-19 04:33] sungeun-kim commented on #21
We plan to deploy a version that resolves this issue sooner or later. Please wait.

[2017-05-19 08:18] Chan-Woo-Yang opened #23 "MCCS로 이중화시 문의드립니다."
가상화로 1서버(CentOS6.7), 2서버(redhat6.7)를 구성하고 MCCS구성후 페일오버 테스트시 서버1에서는
문제없이 서버2로 스위치되는데 서버2에서 페일오버테스트시 서버1로 이동못하는 문제가 발생합니다.
도움 부탁드립니다.!
![mccs_1](https://cloud.githubusercontent.com/assets/28802312/26239189/f52edf0c-3cb6-11e7-8c20-e9acee1bfb31.JPG)

[2017-05-19 08:33] sungeun-kim commented on #23
안녕하세요.
맨텍의 WDRBD 깃허브에 관심을 가져주셔서 감사합니다.
그런데 본 사이트는 WDRBD 와 관련한 이슈를 다루는 커뮤니티 입니다.
MCCS와 관련한 문의를 하시려면 맨텍 서비스센터로 문의를 하셔야 할 것 같습니다.

http://www.mantech.co.kr/portal/callcenter/

감사합니다.

[2017-05-19 09:05] Chan-Woo-Yang commented on #23
넵 감사합니다.

[2017-05-23 03:07] Chan-Woo-Yang opened #24 "오라클 설치후 문제발생.."
![image](https://cloud.githubusercontent.com/assets/28802312/26336879/06dd6f06-3fb0-11e7-98d2-2edb28badb71.png)
![image](https://cloud.githubusercontent.com/assets/28802312/26336895/1f218160-3fb0-11e7-9b5e-b215ae363b61.png)
redhat6.7
centos6.7
oracle11R2

원인을 확인방법이 따로있을까요?..

[2017-05-23 03:22] sungeun-kim commented on #24
남겨주신 로그만으로는 원인을 파악하는데 제한적입니다.
타겟쪽이 inconsistent 상태인것으로 봐선 리싱크가 있었고 어떤 이유에 의해서 복제 연결이 단절된 상태인것만 확인이 됩니다.
실제 물리적인 연결이 단절되었을 수도 있고 이전 단계에서 스플릿브레인이 발생하여 DRBD가 복제 연결을 끊었을 수도 있습니다.

원인분석과는 별개로 정상화를 위해선 복제 연결을 정상 회복하거나 타겟쪽 메타를 초기화 시킨 후 재동기화를 수행해야 할 것으로 보입니다.

[2017-05-23 04:05] Chan-Woo-Yang commented on #24
감사합니다. 확인해보겠습니다.

[2017-06-01 01:01] mailinglists35 opened #25 "meta-disk internal?"
can i have `meta-disk internal`?

I tried to do this

[code]

config (protocol A):

[code]

also, can i have `meta-disk internal` with whole raw hdd? what do I write instead of `disk c` if I want entire hdd not just the partition letter C?

[2017-06-08 07:58] sungeun-kim commented on #25
WDRBD does not support internal metadisks. It also does not support replication for OS volumes (C).
Refer to the following link for information on configuring WDRBD's metadisk.
https://mantech.jira.com/wiki/display/WDUGE/1.+Volume

thanks.

[2017-06-09 13:27] mailinglists35 commented on #25
is this planned or work in progress?

Thank you!

[2017-06-10 04:07] sungeun-kim commented on #25
Fundamentally, DRBD does not support replicating on OS volumes.
Because a DRBD resource can be demoted at any time, a demotion to an OS volume during runtime will cause the machine to fail. In conclusion, DRBD is not suitable for OS volume replication.

[2017-06-10 12:20] mailinglists35 commented on #25
oh, this is total dissapointment. on linux this scenario is supported and is called '[root on drbd'](https://www.linbit.com/en/resources/technical-publications/100-storage/537-root-on-drbd/)

i was hoping to be able to have windows system volume on wdrbd, otherwise the windows implementation is **totally, completely useless** for a scenario where wdrbd was supposed to simply replicate the primary

[2017-06-10 13:57] sungeun-kim commented on #25
The root on drbd you talked about is what I read first. I have not read this in detail, but I do not understand it very well. It looks like the snapshot, not a realtime mirroring.

What I'm talking about on a previous comment is the HA real-time mirroring perspective.

I think that 'root on drbd' is a snapshot-based backup concept. Is that right? If so, you need to understand the basic principles

[2017-06-11 23:14] mailinglists35 commented on #25
no. root on drbd is simply "please keep the block device on which the system volume resides in sync from primary to secondary".

it is a different thing what do I do later with the secondary (such as snapshotting). or i might simply not do anything with it and just keep it as a remote online synchronized copy, as a secondary drive (NOT as a system volume on secondary!!!)

but the main thing is: pl

[2017-06-11 23:15] mailinglists35 commented on #25
but anyway, this discussion does not belog to 'meta-disk internal'; i will open a separate issue for it.

[2017-06-11 23:18] mailinglists35 opened #26 "feature request: allow using the system volume block device"
on linux drbd can use the block device on which the operating system root filesystem resides.

on windows, wdrbd is not yet able to replicate the windows system volume hard drive.

please add the ability to replicate from windows primary system volume hdd to another secondary (w)drbd.

thank you.

[2017-06-11 23:19] mailinglists35 commented on #26
initial discussion in issue #25

[2017-06-12 07:05] sungeun-kim commented on #26
'Root on drbd' is a way to back up mounted root filesystem by configuring initramfs, and finally use the boot architecture provided by linux. And it's doubtful whether this approach guarantees real-time mirroring by using the term snapshot on 'root on drbd].

Naturally, Windows does not have such an architecture. And even if WDRBD adds the ability to back up OS volumes, it will not support it in t

[2017-06-13 09:45] mailinglists35 commented on #26
the snapshotting component is not provided by drbd nor mentioned in this issue.
it is really a different thing that has absolutely nothing to do with drbd.
the only thing that drbd does on linux (and is requested on this issue) is to maintain a remote synchronized copy of local blockdevice that is the underlying block device of the system volume of the primary local machine.
the remote secondary c

[2017-06-13 09:53] mailinglists35 commented on #26
More or less, it supports for example booting from iSCSI SAN volumes via a low level driver that loads before the NTFS filesystem driver.

The very same approach is done by lockdown-type software like DeepFreeze, Comodo Time Machine, Rollback Rx, Clean Slate and I think even Microsoft shipped it's own free alternative (these drivers load before NTFS and they provide NTFS a virtual block device on

[2017-06-13 10:13] sungeun-kim commented on #26
I am grateful for your providing a lot of information.

What I would like to clarify here is whether the backup or replication of the OS volume should be added to the basic idea of DRBD, or to be provided as a separate extended function.
Alternatively, we could offer it as a separate solution. (A solution like file-level replication is also possible)

We need to prioritize replication of the DRBD'

[2017-06-13 22:14] mailinglists35 commented on #26
To be included in WDRBD and be able to pair with a Linux secondary, that would be the final goal.

Basically when I found out that there is a work in progress of drbd for windows, that was my first thought: to be able to put DRBD below NTFS system volume and have a windows machine replicated entirely in real time to a remote location.

Like I described [here,](https://github.com/mantechnology/wdrb

[2017-06-14 01:06] sungeun-kim commented on #26
The architecture you think is probably the topic to think of as an area of OS replication. It would not be the purpose of simply backing up. Because when the primary node is faulted, you have to restore the backup copy again.

OS replication is not as easy as it sounds. The problem of backing up or copying or restoring the OS area is an interrelated problem, and it is necessary to examine various

[2017-06-14 13:10] mailinglists35 commented on #26
Definitely! And that is why I will be using zfs snapshots to periodically save state of full disk image, so when the primary is faulted, I will have a large number of recent point in time full image snapshots available to choose to restore from.

The one and only aspect of DRBD needed is this issue: able to use OS system volume for replication.

The only part of the diagram that this issue is abou

[2017-06-30 06:42] sungeun-kim commented on #21
@cbelyaev we just release WDRBD 1.4.4, and I believe that this issue is resolved.

https://github.com/mantechnology/wdrbd/releases/tag/WDRBD_1.4.4

thanks.

[2017-06-30 07:02] cbelyaev commented on #20
Thanks for fixing release.

[2017-06-30 07:02] #20 closed, assigned to nobody

[2017-06-30 07:03] cbelyaev commented on #21
JRE overhead was not fixed.

[2017-11-17 07:45] #24 closed, assigned to nobody

[2017-11-17 07:45] #23 closed, assigned to nobody

[2018-01-24 16:01] #17 closed, assigned to nobody

[2018-01-24 16:02] #22 closed, assigned to nobody

[2018-02-22 07:27] sungeun-kim commented on #21
longtime no see...
We do not plan to deploy zip packages in the future.
However, I hope the following links will help you.
First, you should install it as an installation package, extract the necessary files from the installation path, and manually create the zip package.

https://mantech.jira.com/wiki/spaces/WDUGE/pages/269424288/3.+Manually+install

[2018-02-22 07:27] #21 closed, assigned to nobody

[2018-02-22 07:31] sungeun-kim commented on #25
First of all,
There is no plan to add DRBD's internal metadisk functionality to WDRBD for the time being. In fact, an internal metadisk is meaningless because it is a configuration equivalent to disk partitioning. Support for file meta-disks can be meaningful.
I hope someday file metadata will be supported.

[2018-02-22 07:31] #25 closed, assigned to nobody

[2018-02-22 07:41] sungeun-kim commented on #26
We recently performed a technical review of OS volume replication with WDRBD. In conclusion, if we can overcome some limitations, we have confirmed that it is possible. This is an issue that has been left for a long time, so I will share it with you.

[2018-02-22 07:47] sungeun-kim commented on #25
Here are some more.
DRBD's internal metadisk is identical to disk partitioning on Windows disk management architecture. In other words, if you partition the disk and configure the volume, that's what Linux DRBD's Internal Meta disk configuration is all about.

In other words, the function of the WDRBD's Internal meta disk is a function enhancement that the Internal-meta disk keyword can be used.

[2020-02-28 02:24] sungeun-kim commented on #26
It seems that windrbd has implemented system volume replicating the way you want. If you are interested, check out windrbd(https://github.com/LINBIT/windrbd).
However, we will not support system volume replication in the same way as windrbd in the future.
We will implement a system volume replicating of the windows to windows model later.

[2020-03-03 23:25] #26 closed, assigned to sungeun-kim

[2020-12-31 07:59] wangmingxin opened #27 "Can I use C: volume as local backing device in wdrbd?"
I have try it in windrbd and I don't think it  supports to use system volume as local backing device.
Could wdrbd support that?

[2020-12-31 08:43] sungeun-kim commented on #27
hi
wdrbd does not support using a system volume as a backing device.
However, internally, we plan to support mirroring for the system volume as another type of solution, which will be sold as a commercial solution.
Thank you.

[2020-12-31 08:51] wangmingxin commented on #27
Thank you for your reply.

[2020-12-31 08:51] #27 closed, assigned to nobody

[2020-12-31 12:20] johannesthoma commented on #27
Hi, Just to let you know WinDRBD does support C: as diskless primary, however at the moment it is not possible to install a fresh Windows upon the C: device, that is why we decided to postpone official C: support. To learn how to set up a C: remote boot Windows with VirtualBox VMs you can download the guide after registering from Linbits homepage at https://www.linbit.com/tech-guide/setup-windrbd-